<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>namespace:</th>
      <td>{{ namespace }}</td>
    </tr>
    <tr>
      <th>pod:</th>
      <td>{{ pod }}</td>
    </tr>
    <tr>
      <th>node:</th>
      <td>{{ node }}</td>
    </tr>
  </table>
</div>
<div id="footer">
  {{ container }}
</div>
